<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-md">
  <div class="container">
    <!-- Navbar Brand -->
    <a class="navbar-brand" href="/home">
      <img th:src="@{/img/logo.png}">
    </a>

    <!-- Navbar -->
    <div class="collapsed navbar-collapse" id="navbarDefault">
      <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item">
          <a href="/dashboard" class="nav-link">Контролен панел</a>
        </li>
        <li class="nav-item">
          <a href="/companyRoutes" class="nav-link">Рути на компанија</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/logout" class="nav-link">Одјави се</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<th:block>

  <div class="add-route">
    <div class="container">
      <div class="form-box">
        <form class="form-signin mt-xl-5" method="post" action="/addRoute">
          <h3>Додај нова рута</h3>

          <div class="row">

            <div class="col-md-6">
              <select name="zapocnuva_vo" id="zapocnuva_vo" class="form-control">
                <option value="none" selected disabled hidden>Од</option>
                <option
                        th:each="grad : ${gradovi}"
                        th:text="${grad.getGrad_ime()}"
                        th:value="${grad.getGrad_id()}">
                </option>
              </select>
            </div>

            <div class="col-md-6">
              <select name="zavrsuva_vo" id="zavrsuva_vo" class="form-control">
                <option value="none" selected disabled hidden>До</option>
                <option
                        th:each="grad : ${gradovi}"
                        th:text="${grad.getGrad_ime()}"
                        th:value="${grad.getGrad_id()}">
                </option>
              </select>
            </div>

            <div class="col-md-6">
              <option value="none" selected disabled hidden>Тргнува на</option>
              <input type="date" class="form-control" name="datum_trgnuvanje">
            </div>

            <div class="col-md-6">
              <option value="none" selected disabled hidden>Пристигнува на</option>
              <input type="date" class="form-control" name="datum_pristignuvanje">
            </div>

            <div class="col-md-12">
              <select name="dispecer" id="dispecer" class="form-control">
                <option value="none" selected disabled hidden>Диспечер</option>
                <option
                        th:each="dispecer : ${dispeceri}"
                        th:text="${dispecer.vraboten.getVraboten_ime()}"
                        th:value="${dispecer.getDispecer_id()}">
                </option>
              </select>
            </div>

            <div class="col-md-12">
              <select name="vozilo_id" id="vozilo" class="form-control">
                <option value="none" selected disabled hidden>Возило</option>
                <option
                        th:each="vozilo : ${vozila}"
                        th:text="${'Тип: ' + vozilo.tip.getTip_ime() + ' - Марка: ' + vozilo.getVozilo_marka()}"
                        th:value="${vozilo.getVozilo_id()}">
                </option>
              </select>
            </div>

          </div>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Додај</button>
        </form>
      </div>
    </div>
  </div>

</th:block>


<div class="footer">
  <div class="container">
    <p>© Сите права се задржани. 2023</p>
  </div>
</div>

</body>
</html>