<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-md" th:if="${session.role == null}">
        <div class="container">
            <!-- Navbar Brand -->
            <a class="navbar-brand" href="/home">
                <img th:src="@{img/logo.png}">
            </a>

            <!-- Navbar -->
            <div class="collapsed navbar-collapse" id="navbarDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-button">
                        <a href="/login" class="nav-link">Најави се</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <nav class="navbar navbar-expand-md" th:if="${session.role != null}">

        <div class="container">
            <!-- Navbar Brand -->
            <a class="navbar-brand" href="/home">
                <img th:src="@{/img/logo.png}">
            </a>

            <!-- Navbar -->
            <div class="collapsed navbar-collapse" th:if="${session.role.equals('klient')}">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item">
                        <a href="/routes" class="nav-link">Рути</a>
                    </li>
                    <li class="nav-item">
                        <a href="/reservations" class="nav-link">Мои Резервации</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Одјави се</a>
                    </li>
                </ul>
            </div>

            <!-- Navbar -->
            <div class="collapsed navbar-collapse" th:if="${session.role.equals('administrator')}">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item">
                        <a href="/izvestaj" class="nav-link">Извештаи</a>
                    </li>
                    <li class="nav-item">
                        <a href="/companyRoutes" class="nav-link">Рути на компанија</a>
                    </li>
                    <li class="nav-item">
                        <a href="/reservationsToConfirm" class="nav-link">Резервации за одобрување</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Одјави се</a>
                    </li>
                </ul>
            </div>

            <!-- Navbar -->
            <div class="collapsed navbar-collapse" th:if="${session.role.equals('dispecer')}">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item">
                        <a href="/home" class="nav-link">Почетна</a>
                    </li>
                    <li class="nav-item">
                        <a href="/dispatcher/activeRoutes" class="nav-link">Активни рути</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Одјави се</a>
                    </li>
                </ul>
            </div>

            <!-- Navbar -->
            <div class="collapsed navbar-collapse" th:if="${session.role.equals('vozac')}">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item">
                        <a href="/home" class="nav-link">Почетна</a>
                    </li>
                    <li class="nav-item">
                        <a href="/driver/active-routes" class="nav-link">Активни рути</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Одјави се</a>
                    </li>
                </ul>
            </div>


        </div>
    </nav>

    <th:block>
        <div class="home">

            <div class="home-main">
                <div class="container">
                    <h3>Резервирај транспорт на роба.</h3>
                </div>
            </div>

            <div class="container">
                <div class="stats">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>5+</h3>
                            <p>компании</p>
                        </div>
                        <div class="col-md-4">
                            <h3>20+</h3>
                            <p>достапни рути</p>
                        </div>
                        <div class="col-md-4">
                            <h3>6</h3>
                            <p>градови</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="callToAction">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Направи резервација</h3>
                            <p>Избери една од понудените рути и вид и количина на роба која сакаш да ја транспортираме.</p>
                        </div>
                        <div class="col-md-4">
                            <a href="/routes" class="cta-button">Резервирај</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="companies">
                    <h3>Компании со кои соработуваме</h3>
                    <div class="logos">
                        <div class="row">
                            <div class="col-md-4">
                                <img th:src="@{img/erka.png}">
                            </div>
                            <div class="col-md-4">
                                <img th:src="@{img/fulda.png}">
                            </div>
                            <div class="col-md-4">
                                <img th:src="@{img/kimmel.png}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img th:src="@{img/kish.png}">
                            </div>
                            <div class="col-md-6">
                                <img th:src="@{img/mak.png}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </th:block>


    <div class="footer">
        <div class="container">
            <p>© Сите права се задржани. 2023</p>
        </div>
    </div>

</body>
</html>