<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-md">
    <div class="container">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="/home">
            <img th:src="@{img/logo.png}">
        </a>

        <!-- Navbar -->
        <div class="collapsed navbar-collapse" id="navbarDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-button">
                    <a class="nav-link asClient show" data-action="loginAsEmployee">Најави се како вработен</a>
                    <a class="nav-link asEmployee hide" data-action="loginAsClient">Најави се како клиент</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<th:block>

    <div class="login">
        <div class="container">

            <div class="asClient show">
                <div class="form-box">
                    <form class="form-signin mt-xl-5" method="post" action="/login">
                        <h3>Најави се како клиент</h3>

                        <div th:if="${hasError == true}" th:text="${error}" class="text-danger"></div>
                        <p th:if="${hasError == false}">Внеси ги податоците за да продолжиш.</p>
                        <input type="hidden" name="role" value="client">
                        <p>
                            <input type="text" id="emailClient" name="email" class="form-control" placeholder="Емаил" required=""
                                   autofocus="">
                        </p>
                        <p>
                            <input type="password" id="passwordClient" name="password" class="form-control" placeholder="Лозинка"
                                   required="">
                        </p>
                        <button id="submitClient" class="btn btn-lg btn-primary btn-block" type="submit">Најави се</button>
                    </form>
                    <p style="text-align: center;">Немате креирано профил?
                        <a href="/register">Регистрирај се!</a></p>
                </div>
            </div>

            <div class="asEmployee hide">
                <div class="form-box">
                    <form class="form-signin mt-xl-5" method="post" action="/login">
                        <h3>Најави се како вработен</h3>

                        <div th:if="${hasError == true}" th:text="${error}" class="text-danger"></div>
                        <p th:if="${hasError == false}">Внеси ги податоците за да продолжиш.</p>
                        <input type="hidden" name="role" value="employee">
                        <p>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Емаил" required=""
                                   autofocus="">
                        </p>
                        <p>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Лозинка"
                                   required="">
                        </p>
                        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Најави се</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</th:block>


<div class="footer">
    <div class="container">
        <p>© Сите права се задржани. 2023</p>
    </div>
</div>

<script>
    $(document).ready(function() {

        // On button click
        let entries = 1;
        $('[data-action="loginAsEmployee"]').click(function (e) {
            e.preventDefault();

            $(".asClient").removeClass("show");
            $(".asClient").addClass("hide");

            $(".asEmployee").removeClass("hide");
            $(".asEmployee").addClass("show");

        });

        $('[data-action="loginAsClient"]').click(function (e) {
            e.preventDefault();

            $(".asClient").removeClass("hide");
            $(".asClient").addClass("show");

            $(".asEmployee").removeClass("show");
            $(".asEmployee").addClass("hide");

        });

    })
</script>

</body>
</html>