<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-md">
  <div class="container">
    <!-- Navbar Brand -->
    <a class="navbar-brand" href="/home">
      <img th:src="@{img/logo.png}">
    </a>

    <!-- Navbar -->
    <div class="collapsed navbar-collapse" id="navbarDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">Компании</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Рути</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Резервации</a>
        </li>
        <li class="nav-item nav-button">
          <a href="/login" class="nav-link">Најави се</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<th:block>

  <div class="register">
      <div class="container">
        <div class="form-box">
          <form class="form-signin mt-xl-5" method="post" action="/register">
              <h3>Регистрирај се</h3>
              <p>Внеси ги податоците за да продолжиш.</p>
              <div th:text="${param.error}" class="text-danger"></div>

              <div class="row">

                <div class="col-md-6">
                  <p>
                    <input type="text" id="ime" name="ime" class="form-control" placeholder="Име" required="" autofocus="">
                  </p>
                </div>

                <div class="col-md-6">
                  <p>
                    <input type="text" id="prezime" name="prezime" class="form-control" placeholder="Презиме" required="" autofocus="">
                  </p>
                </div>

                <div class="col-md-6">
                  <p>
                    <input type="text" id="email" name="email" class="form-control" placeholder="Емаил" required="" autofocus="">
                  </p>
                </div>

                <div class="col-md-6">
                  <p>
                    <input type="text" id="telefon" name="telefon" class="form-control" placeholder="Телефон" required="" autofocus="">
                  </p>
                </div>

                <div class="col-md-6">
                  <p>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Лозинка"
                           required="">
                  </p>
                </div>

                <div class="col-md-6">
                  <p>
                    <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control"
                           placeholder="Повторно лозинка" required="">
                  </p>
                </div>

              </div>

              <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрирај се</button>
          </form>
          <p style="text-align: center;">Имате профил? <a href="/login">Најави се!</a> </p>
        </div>
    </div>
  </div>

</th:block>


<div class="footer">
  <div class="container">
    <p>© Сите права се задржани. 2023</p>
  </div>
</div>

</body>
</html>