<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Routes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-md">
    <div class="container">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="/home">
            <img th:src="@{/img/logo.png}">
        </a>

        <!-- Navbar -->
        <div class="collapsed navbar-collapse" id="navbarDefault">
            <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">Контролен панел</a>
                </li>
                <li class="nav-item">
                    <a href="/companyRoutes" class="nav-link">Рути на компанија</a>
                </li>
                <li class="nav-item">
                    <a href="/reservationsToConfirm" class="nav-link">Резервации за одобрување</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Одјави се</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<th:block>

    <div class="reservations-to-confirm">

        <div class="container">
            <h3>Резервации за одобрување</h3>
            <div th:each="rezervacija : ${rezervacii}">
                <div class="reservation-box">
                    <form class="form-signin mt-xl-5" method="post" action="/setActive">

                        <div class="row">
                            <div class="col-md-3">
                                <div>
                                    <p>Започнува во</p>
                                    <h4><th:block th:text="${rezervacija.ruta.zapocnuva_vo.getGrad_ime()}"></th:block></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <p>Завршува во</p>
                                    <h4><th:block th:text="${rezervacija.ruta.zavrsuva_vo.getGrad_ime()}"></th:block></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <p>Тргнува на</p>
                                    <h4><th:block th:text="${rezervacija.ruta.datum_poagjanje}"></th:block></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <p>Пристигнува на</p>
                                    <h4><th:block th:text="${rezervacija.ruta.datum_pristiganje}"></th:block></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <p>Клиент</p>
                                    <h4><th:block th:text="${rezervacija.klient.getKlient_ime() + ' ' + rezervacija.klient.getKlient_prezime()}"></th:block></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <p>Клиент</p>
                                    <h4><th:block th:text="${rezervacija.klient.getKlient_telefon()}"></th:block></h4>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div>
                                    <input type="hidden" name="rezervacija_id" th:value="${rezervacija.getRezervacija_id()}">
                                    <input type="text" name="iznos" class="form-control" placeholder="Износ...">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Означи активна</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

</th:block>


<div class="footer">
    <div class="container">
        <p>© Сите права се задржани. 2023</p>
    </div>
</div>

</body>
</html>